<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <strong>Node.js Documentation Free {{version}}</strong>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        This application is compiled with <a target="_blank" href="http://ionicframework.com/">Ionic</a>. You can find the source code in <a target="_blank" href="https://github.com/dak42/node-documentation/tree/free">https://github.com/dak42/node-documentation/tree/free</a>.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          <strong>Feedback:</strong> <a href="mailto:info@dak42.com">info@dak42.com</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          Node.js is a trademark of Joyent, Inc.
        </p>
        <p>
          <strong>License:</strong> <a target="_blank" href="https://github.com/joyent/node/blob/master/LICENSE">https://github.com/joyent/node/blob/master/LICENSE</a>
        </p>
      </div>
    </div>
    <div class="center">
      <img src="img/logo.png" alt="Logo">
    </div>
  </ion-content>
</ion-view>
